@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body, html{
    background-color:#5f2c82 ;
    height: 100vh;
    width: 100vw;
    
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;

}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.484);
    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;

}
#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-caique-araujo-101156227-15705997.jpg);
    height: 200px;
    background-size: cover;
    background-position: center center;
}
#formulario{
    display: block;
    padding: 10px;
}
#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario p{
    font-size: 0.8rem;
}


@media screen and (min-width:768px ) and (max-width: 922px) {
    body{
        background-image: linear-gradient( to top, #49a09d, #5f2c82) ;
    }
    #login{
        width: 80vw;
        
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulário{
        float: right;
        width: 70%;
    }
    
 
}
@media screen and (min-width: 992px){
    #login{
        width: 950px;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formluario{
        float: left;
        width: 50%;
    }
    #formulario h1{
    font-size: 2rem;
}
    #formulario p{
    font-size: 1.2rem;
}

    
}